<section style="display: flex; flex-direction: column; margin: 5vh, 10vw">
  <nz-list
    *ngIf="albumData"
    nzBordered
    nzHeader="Álbunes recién visitados"
    style="width: 50vw; margin: auto"
  >
    <nz-list-item *ngFor="let item of albumData">
      <span nz-typography
        ><mark>{{ item.title }}</mark></span
      >
      {{ item.id }}
    </nz-list-item>
  </nz-list>
  <br />
  <button nz-button nzType="primary" nzShape="round" routerLink="/users">
    Ver usuarios
  </button>
</section>
